<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://bolao.clmal92lfsbr.sa-east-1.rds.amazonaws.com:5432/bolao</property>
    <property name="hibernate.connection.username">bruno</property>
    <property name="hibernate.connection.password">brunosoad02</property>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Tipousuario.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Classificacao.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Equipe.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Datajogos.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Classificacaovitoria.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Classificacaojogo.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Classificacaopg.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Jogoid.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Sugestao.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Classificacaoempate.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Schedule.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Classificacaoderrota.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Palpites.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Rodadajogos.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Posicaousuario.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Usuario.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Parametros.hbm.xml"/>
    <mapping resource="br/com/wsintegrabolao/dao/obj/Acesso.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
